
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}


header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px ,10%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24242A;
    
}

.navbar{
    background-color: #24242A;
    border-radius: 30px;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .navbar li{
    float:left;
    list-style: none; 
    margin: 13px 20px;
}
.navbar ul{
    overflow: auto;
}

.navbar li a{
    padding: 3px 3px;
    text-decoration: none;
    color: white;

    
    transition: all 0.3s ease 0s;
}








.navbar li a:hover{
  color: #0096FF;
}




.logo{
  cursor: pointer;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}



.login li{
  float:left;
  list-style: none; 
  margin: 13px 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.login ul{
  overflow: auto;

}
    
.login li a{
  padding: 3px 3px;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease 0s;
}
    
    
.login li a:hover{
  color: #0096FF;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}
    
.line{

  color:#0096FF ;
}

.fix{
  /* display: block; */
  overflow: hidden;
      
}

.text1{

  position: absolute;
  color: #AACCFF;
  top: 150px;
  left: 100px;
  padding-right: 500px;
  text-decoration: none;
  border: palegoldenrod 2px solid;
  border-radius: 20px;
    

}

.text1 li{

  text-decoration: none;

  padding: 50px;
}
.text1 ul{

text-decoration: none;

}

.img2 {

    position: absolute;
    top: 160px;
    left: 665px;
   
    
}
body{
  background-attachment: fixed;
  background-repeat: no-repeat;
}

button {
  position: absolute;
  top: 520px;
  border-radius: 20px;
  left: 200px;
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
      
}
  
.button1 {
  background-color: #002D62; 
  color: #AACCFF; 
  border: 2px solid palegoldenrod;
}

.button1:hover {
  background-color:#0952a5;
  color: white;
}
  /* #34495e */
  
  h1{
    color: #FFFF00;
    text-decoration-color: #FFFF00;
  }

.box{
    width: 800px;
    border-radius: 25px;
    height: 800px;
    padding: 40px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #0a0a0a;
    text-align: center;
}
.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 500px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}
 
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
    width: 600px;
    border-color: #2ecc71;
}
select{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  align-items: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 500px;
  outline: none;
  color:rgb(138, 137, 132);
  border-radius: 24px;
  transition: 0.25s;

}
.select::after{
  background-color: var(--select-arrow);
}

  
  
.box input[type = "submit"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.box input[type = "submit"]:hover{
    background: #2ecc71;
}
  


nav{

  text-align: center;
}